.footer-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: map-get($foundation-palette, 'brand-fifth');
  color: $white;
}

.footer {
  @include grid-row();
  text-align: center;
  padding: rem-calc(30) 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .donate {
    margin-top: rem-calc(20);
  }
  a {
    color: $white !important;
  }
}

.footer__socials {
  margin-bottom: rem-calc(25);
  @include breakpoint(large) {
    text-align: left;
  }
  img {
    margin-right: 10px;
  }
}

.footer__menu {
    .menu {
      > li {
        display: initial;
        a {
          color: $white;
          font-weight: 500;
          &:hover {
            color: $brand-secondary;
          }
          @include breakpoint(large) {
            padding-right: 0;
          }
        }
      }
    }
    @include breakpoint(large) {
      text-align: right;
    }
}

.footer_links {
  text-align: center;
  @include breakpoint(large) {
    text-align: left;
  }
  .menu {
    li {
      display: block;
      @include breakpoint(large) {
        display: inline-block;
      }
      a {
        @include breakpoint(large) {
          padding-left: 0;
        }
      }
    }
  }
}

.footer__copyright, .credit_link {
  @include breakpoint(large) {
    text-align: left;
  }
}


