// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(large);
}

.title-bar-right {
  width: 100%;
  display: flex;
  align-items: center;
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(large);
}

.site-title-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.site-mobile-title {
  flex: 1;
}
// Site title
.site-mobile-title a {
  // placeholder
}

.site-desktop-title a {
  font-weight: bold;
}
// Custom logo
.top-bar-title {
  width: 180px;
}
.custom-logo {
  width: 180px;
}

.top-bar {
  border-bottom: 0;
  padding: 0;
}

// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload

  @include breakpoint(medium down) {
    width: 100%;
  }
}

.mobile-menu,
.mobile-off-canvas-menu {

  // submenu arrow
  .is-accordion-submenu-parent {
    > a::after {
      border-color: $accordionmenu-arrow-color transparent transparent;
    }
    &.active > a::after {
      border-color: $menu-item-color-active transparent transparent;
    }
  }

  // current page
  .current_page_item > a {
    font-weight: bold;
  }
}



// Tablet and desktop menu
.desktop-menu {

  // submenu arrow
  li.is-dropdown-submenu-parent {
    > a::after {
      border-color: $accordionmenu-arrow-color transparent transparent;
    }
    &.active > a::after {
      border-color: $menu-item-color-active transparent transparent;
    }
  }
}

.site-navigation {
  @include breakpoint(medium) {
    padding: 0; // prevents container visibility on small screens
  }
}



// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}

// Main menu

.site-header {
  border-bottom: 1px solid lighten($medium-gray, 5%) !important;
}



header {
  // position: relative;
  .menu {
    > li > a {
      color: $text-color;

      @include breakpoint(small only) {
        border-bottom: 1px solid $medium-gray;
      }
    }
  }
  // .menu {
  //   > li {
  //     $i: 0;
  //     @each $color, $value in $brand-palette {
  //       $i: $i + 1;
  //       &:nth-of-type(#{$i}) {
  //         a {
  //           color:$value;
  //           &:hover {
  //             color: darken($value, 10%);
  //           }
  //         }
  //       }
  //     }
  //     > a {
  //       font-size: rem-calc(18);
  //       padding: rem-calc(11.2) rem-calc(15);
  //       font-weight: 500;
  //     }
  //     &.active > a {
  //       background: $dark-gray;
  //       border-radius: 3px;
  //     }
  //   }
  // }
}



// .is-dropdown-submenu {
//   background: $brand-fifth !important;
//   border-radius: 3px;
//   border: none;
//   padding: rem-calc(5);
//   a {
//     color: $white !important;
//     border-bottom: 1px solid $medium-gray;
//     &:hover {
//       color: $brand-secondary !important;
//     }
//     &:last-of-type {
//       border: 0;
//     }
//   }
// }

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  display: block;
  width: 0;
  height: 0;
  border: inset 5px;
  content: '';
  border-bottom-width: 0;
  border-top-style: solid;
  border-color: $brand-fifth transparent transparent;
  right: 8px;
  margin-top: -3px;
}

.is-submenu-item {
  // &:not(:last-of-type) {
  //   border-bottom: 1px solid $dark-gray;
  // }
  > a {
    &:hover {
      background-color: darken($dark-gray, 18%);
      color: #fff;
      font-weight: 500;
      border-left: 4px solid $brand-secondary;
    }
  }
}

.dropdown {
  border-width: 1px;
  border-color: $dark-gray;
  // border-radius: 3px;
}

.menu .active > a, .current-menu-item > a {
  background: none;
  // border-bottom: 5px solid $brand-fifth;
  color: $brand-fifth !important;
  text-decoration: underline;
}

// mobile styles
@include breakpoint(medium down) {
  .menu > .menu-item {
    width: 100% !important;
    border-bottom: $medium-gray !important;
  }
}

.translation-outer {
  background: $brand-fifth;
}

.translation-wrap {
  select {
    margin: 6px 0 !important;
    border: none;
    border-left: 4px solid $brand-secondary;
  }
}




